body {
	/*background-color: #000000;*/
	font-family: 'OpenSans';
	margin: 0;
	color: #C99155;
	background: #000000 url("../images/piano_keys3.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
img {
	border: 0;
}
.clearfix:after, #contents:after {
	clear: both;
	content: "";
	display: block;
	height: 1%;
	line-height: 0;
	visibility: hidden;
}

.block {
	display: block;
}

a {
	color: #C99155;
	text-decoration: underline;
	/*background-color: #00375d;*/
	line-height: 45px;
}

a:hover {
	color: #E8DAC9;
}

/*------------------------------ HEADER ------------------------------*/
#header {
	/*background-color:  #000000; */
	min-height: 140px;
	/*padding: 50px 0 0px 0;*/
	margin: 50px 0 0px;
	/*border-bottom: 1px solid #5c5c5c;*/
}
#header > div, #footer > div {
	background-color: rgba(0,0,0,0.6); /*#000000;*/
	width: 890px;
	margin: 0 auto;
	padding: 10px 0;
	text-align: center;
}
#header h1 {
	/* 	color: #3e3e3e; */
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	/*margin: 20 0 30px;*/
}
#header p {
	font-size: 20px;
}

#header a {
	color: #C99155;
	text-decoration: none;
	/*background-color: #00375d;*/
	/*line-height: 45px;*/
}
#header a:hover {
	/*color: #E8DAC9;*/
	/*background-color: #78a6f2;*/
}

/*-----------------------  MENU ----------------------------------------*/

#contents {
	background-color: rgba(0,0,0,0.6); /*#000000;*/
	min-height: 600px;
	width: 890px;
	margin: 60px auto 50px;
	padding: 30px 0;
}
/** Navigation **/
#navigation {
	float: left;
	list-style: none;
	/* 	line-height: 100px; */
	height: 500px;
	width: 140px;
	margin: 0;
	padding: 20px 20px 0 20px;
	margin-left: 20px;
	border: 1px solid;
}
#navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#navigation li {
	/*float: left;*/
	/*width: 160px;*/
	/*height: 40px;*/
	text-align: left;
	font-size: 20px;
	line-height: 45px;
	display: block;
}

#navigation li.header > div {
	border-bottom: 2px solid;
	margin-bottom: 20px;
	font-size: 30px;
}

#navigation li a {
	color: #C99155;
	text-decoration: none;
	/*background-color: #00375d;*/
	line-height: 45px;
}
#navigation li a:hover {
	color: #E8DAC9;
	/*background-color: #78a6f2;*/
}

#navigation li.active a {
	/*font-weight: bold;*/
	/*font-style: italic;*/
	/*color: #FBB66B;*/
	/*font-size: 24px;*/
	/*text-decoration: underline;*/
}
#navigation li.active a:hover {
	color: #E8DAC9;
}
#navigation li.clavier_duo {
	line-height: 22px;
	/*color: #E8DAC9;*/
	margin-top: 60px;
}
#navigation li.clavier_duo a {
	line-height: 22px;
}

#contents > div {
	display: inline-block;
	/* 	margin-left:101px; */
}

#frontpage {
	text-align: justify;
	padding-left: 60px;
	padding-top: 0px;
	/*min-width: 300px;*/
	/*max-width: 560px;*/
	width: 580px;
	/*border: 1px solid #5c5c5c;*/
	/*color: #E8DAC9;*/
}

#frontpage > div {
	display: inline-block;
}
#frontpage > div.block {
	display: block;
}

#frontpage div.main_image {
	display: block;
	float: left;
	margin: 0;
	/*margin-right: 10px;*/
	/*margin-bottom: 20px;*/
	/*margin-top: 10px;*/
	margin-left: 50px;
}
#frontpage div.image {
	/*display: inline;*/
	float: left;
	margin-right: 30px;
	margin-bottom: 20px;
	margin-top: 5px;
}

#frontpage div.address {
	text-align: center;
	margin-top: 200px;
}

.concert_entry h4 {
	margin-top: 30px;
	margin-bottom: 5px;
}

.concert_entry h3 {
	margin-top: 40px;
	margin-bottom: 5px;
	color: #844F17;
}

.concert_entry p {
	margin-top: 0px;
	margin-left: 20px;
	margin-bottom: 0px;
}


.concert_entry a {
	color: #C99155;
	text-decoration: underline;
	/*background-color: #00375d;*/
	line-height: 45px;
}

.concert_entry a:hover {
	color: #E8DAC9;
	/*background-color: #78a6f2;*/
}



#footer {
	font-size: 12px;
	/*color: #925A37;*/
	margin-bottom: 15px;
}

#footer > div {
	/*border-top: 2px solid #3D1C00;*/
	margin-top: 30px;
}

